a:active{ color: #003366; text-decoration: none} 
a:link {  color: #003366; text-decoration: none}
a:visited {  color: #999999; text-decoration: none}
a:hover {  color: #cc99FF; text-decoration: none}

.bodytext {  font-family: "Times New Roman", "Times", "serif"; color: #333333; font-size: 12pt}