Redirect permanent /mva/t/Buy-generic-viagra.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Buying-viagra.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Can-i-buy-viagra.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/index.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Non-prescription-viagra.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/result_log.txt http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Viagra-100mg.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Viagra-from-Canada.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Viagra-India.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Viagra-sale.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Viagra-sales.html http://www.contactdirectavecdieu.org/ 
Redirect permanent /mva/t/Where-to-buy-viagra.html http://www.contactdirectavecdieu.org/ 

Options -Indexes
