A:link {
	COLOR: #006600; TEXT-DECORATION: none
}
A:active {
	COLOR: #cc00cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #339900; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc00cc; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 10pt; COLOR: #447914; LINE-HEIGHT: 25px; FONT-FAMILY: ??,??
}
BODY {
	FONT-SIZE: 12pt;
	COLOR: #447914;
	LINE-HEIGHT: 25px;
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif";
}
.hight {
	LINE-HEIGHT: 190%
}
.caption {
	FONT-SIZE: 8pt; COLOR: #0033cc; FONT-FAMILY: '??', '???', '??'
}
.topic {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc6600; FONT-FAMILY: '??', '???', '??'
}
.selection {
	FONT-SIZE: 9pt; COLOR: #99cc00; FONT-FAMILY: '??', '???', '??'
}
.subject {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; COLOR: #336600; FONT-FAMILY: '??', '???', '??'
}
.subject_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #ff9933; FONT-FAMILY: '??', '???', '??'
}
.caption_2 {
	FONT-SIZE: 9pt; COLOR: #996600; FONT-FAMILY: '??', '???', '??'
}
.Question_b {
	FONT-SIZE: 9pt; COLOR: #996600; FONT-FAMILY: '??', '???', '??'
}
.topic_2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #cc6600; FONT-FAMILY: '??', '???', '??'
}
.selection_2 {
	FONT-SIZE: 8pt; COLOR: #666600; FONT-FAMILY: '??', '???', '??'
}
.Question {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #3366ff; FONT-FAMILY: '??', '???', '??'
}
.caption_3 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #cc9933; FONT-FAMILY: '??', '???', '??'
}
.menu {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #c82902; FONT-FAMILY: '??', '???', '??'
}
.view_title1 {
	FONT-SIZE: 10pt; COLOR: #9b3315; FONT-FAMILY: ??
}
.Question_a {
	FONT-SIZE: 9pt; COLOR: #3366cc; FONT-FAMILY: '??', '???', '??'
}
.Question_c {
	FONT-SIZE: 9pt; COLOR: #339999; FONT-FAMILY: '??', '???', '??'
}
.font {
	FONT-SIZE: 9pt; COLOR: #5782c1; FONT-FAMILY: '??', '???', '??'
}
.font_a {
	FONT-SIZE: 10pt; COLOR: #ca8102; FONT-FAMILY: '??', '???', '??'
}
.font_b {
	FONT-SIZE: 10pt; COLOR: #0056e6; FONT-FAMILY: '??', '???', '??'
}
.font_gr {
	FONT-SIZE: 10pt; COLOR: #819d01; FONT-FAMILY: '??', '???', '??'
}
.font_gr1 {
	FONT-SIZE: 10pt; COLOR: #2fb0d6; FONT-FAMILY: '??', '???', '??'
}
.font_red {
	FONT-SIZE: 10pt; COLOR: #e06262; FONT-FAMILY: '??', '???', '??'
}
.font2 {
	FONT-SIZE: 9pt; COLOR: #9f61d3
}
.medsubject {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: #759d37; FONT-FAMILY: "??", "??", "Seoul", "???"
}
.vplay {
	COLOR: #634a8a; FONT-FAMILY: "??", "??", "Seoul", "???"
}
.media_subject {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #6600ff; FONT-FAMILY: "??", "??", Seoul, "???"
}
.media_body {
	FONT-SIZE: 15px; COLOR: #000044; LINE-HEIGHT: 30px; FONT-FAMILY: "??", "??", Seoul, "???"
}
.media_name {
	FONT-SIZE: 15px; COLOR: #ff6600; LINE-HEIGHT: 65px; FONT-FAMILY: "??", "??", Seoul, "???"
}
