BODY {
	FONT-SIZE: 10pt; COLOR: #003300; FONT-FAMILY: ??
}
TD {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
INPUT {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
DIV {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
FORM {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
TEXTAREA {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
CENTER {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
OPTION {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
PRE {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
BLOCKQUOTE {
	FONT-SIZE: 9pt; COLOR: #003300; FONT-FAMILY: ??
}
TD {
	LINE-HEIGHT: 140%
}
SELECT {
	FONT-SIZE: 9pt; COLOR: #000000
}
BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #aaaaaa; SCROLLBAR-SHADOW-COLOR: #aaaaaa; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #aaaaaa; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
A:link {
	COLOR: #003300; TEXT-DECORATION: none
}
A:visited {
	COLOR: #006600; TEXT-DECORATION: none
}
A:active {
	COLOR: #006600; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.view_title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #e0540e; FONT-FAMILY: verdana
}
.view_title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; COLOR: #e0540e; FONT-FAMILY: Arial; LETTER-SPACING: -1px
}
.zv3_writetitle {
	BORDER-RIGHT: #f3bc8b 1px solid; BORDER-TOP: #f3bc8b 1px solid; BORDER-LEFT: #f3bc8b 1px solid; BORDER-BOTTOM: #f3bc8b 1px solid; BACKGROUND-COLOR: #feeaa2
}
.zv3_writeform {
	BORDER-RIGHT: #f3bc8b 1px solid; BORDER-TOP: #f3bc8b 1px solid; BORDER-LEFT: #f3bc8b 1px solid; BORDER-BOTTOM: #f3bc8b 1px solid; BACKGROUND-COLOR: #fffae9
}
.zv3_input {
	BORDER-RIGHT: #f3bc8b 1px solid; BORDER-TOP: #f3bc8b 1px solid; BORDER-LEFT: #f3bc8b 1px solid; BORDER-BOTTOM: #f3bc8b 1px solid; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
.input {
	BORDER-RIGHT: #f3bc8b 1px solid; BORDER-TOP: #f3bc8b 1px solid; BORDER-LEFT: #f3bc8b 1px solid; BORDER-BOTTOM: #f3bc8b 1px solid; FONT-FAMILY: ??; HEIGHT: 17px; BACKGROUND-COLOR: #ffffff
}
.zv3_w_textarea {
	BORDER-RIGHT: #f3bc8b 1px solid; BORDER-TOP: #f3bc8b 1px solid; BORDER-LEFT: #f3bc8b 1px solid; WIDTH: 100%; BORDER-BOTTOM: #f3bc8b 1px solid; BACKGROUND-COLOR: #ffffff
}
.zv3_normal {
	FONT-SIZE: 9pt
}
.zv3_small {
	FONT-SIZE: 8pt
}
.zv3_comment {
	FONT-SIZE: 6pt; FONT-FAMILY: tahoma
}
.zv3_header {
	BACKGROUND-IMAGE: url(table_bg.gif)
}
.zv3_inbox {
	BORDER-RIGHT: #b0d983 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b0d983 1px solid; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(table_bg.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #b0d983 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #b0d983 1px solid; HEIGHT: 20px; spacing: 0
}
.zv3_listBox {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 9pt; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.zv3_liner {
	BACKGROUND-COLOR: #efefef
}
.zv3_footer {
	BACKGROUND-COLOR: #aedb6d
}
.zv3_viewform {
	BORDER-RIGHT: #c1dfb2 1px solid; BORDER-TOP: #c1dfb2 1px solid; BORDER-LEFT: #c1dfb2 1px solid; BORDER-BOTTOM: #c1dfb2 1px solid; BACKGROUND-COLOR: #ffffff
}
.zv3_viewbox {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.zv3_search {
	BORDER-RIGHT: #5b6800 1px solid; BORDER-TOP: #5b6800 1px solid; BORDER-LEFT: #5b6800 1px solid; WIDTH: 80px; COLOR: #666666; BORDER-BOTTOM: #5b6800 1px solid; HEIGHT: 17px
}
.zv3_textarea {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BORDER-LEFT: #777777 1px solid; WIDTH: 100%; BORDER-BOTTOM: #777777 1px solid; BACKGROUND-COLOR: white
}
.zv3_submit {
	BORDER-RIGHT: #777777 1px solid; BORDER-TOP: #777777 1px solid; BORDER-LEFT: #777777 1px solid; WIDTH: 100%; BORDER-BOTTOM: #777777 1px solid; HEIGHT: 100%; BACKGROUND-COLOR: white
}
