a:active {  text-decoration: none; color: #FF66FF}











a:visited {  text-decoration: none; color: #6666FF}











a:link {  text-decoration: none; color: #6666FF}











a:hover {  color: #3A7EFC; text-decoration: underline}











.bodytext {  font-family: "Times New Roman", "Times", "serif"}











.name {  font-family: "Times New Roman"; font-style: italic; font-size: 10pt}











.bodytext-grey {  font-family: "Times New Roman", "Times", "serif"; font-size: 12pt; color: #555555}
