a:active {  text-decoration: none; color: #999999}











a:visited {  text-decoration: none; color: #9999FF}











a:link {  text-decoration: none; color: #00CC66}











a:hover {  color: #D177E8; text-decoration: none}
.menu-font-size {  font-family: "Arial", "Helvetica", "sans-serif"; font-size: 9pt}
