a:active {  text-decoration: none}
a:visited {  text-decoration: none; color: #3e3eff}
a:link {  text-decoration: none; color: #3E3EFF}
a:hover {  color: #B1763A; text-decoration: none}
.bodytext {  font-family: "Times New Roman", "Times", "serif"}
.name {  font-family: "Times New Roman"; font-style: italic}
