H1 { font-size: 1.8em; line-height: 1.2em; 
               letter-spacing: 1pt; margin-top: 0.5em; margin-bottom: 0.5em }
h2  {padding:0; FONT-WEIGHT: bold; 
FONT-SIZE: 0.8em; FONT-STYLE: italic; MARGIN-BOTTOM: 1.5em; FONT-FAMILY: "Times New Roman", "Times", "serif"; LETTER-SPACING: 1pt; TEXT-ALIGN: left; 
}
H3 {MARGIN-TOP: 2em; MARGIN-BOTTOM: 2em; FONT-WEIGHT: 300; 
FONT-SIZE: 0.8em;  COLOR: #0000FF; FONT-STYLE: ; LETTER-SPACING: 0.5pt; TOP: 0px; TEXT-ALIGN: right; font-family:Arial
}
H4 {FONT-FAMILY: arial; MARGIN-TOP: 10; MARGIN-BOTTOM: 5;  MARGIN-LEFT: 0px; CLIP: ; COLOR: #808000; TEXT-ALIGN: left LINE-HEIGHT: 80%; FONT-WEIGHT: 400; FONT-SIZE: 1.1em 
}
A:link {
}
A:visited {
COLOR: #8f9105; TEXT-DECORATION: none
}

A:active {
COLOR: #458b8b; TEXT-DECORATION: none
}
H5 {
MARGIN-TOP: 0px; FONT-WEIGHT: 300; FONT-SIZE: 9pt; MARGIN-BOTTOM: 8px; COLOR: #00bfbf; LINE-HEIGHT: 95%; FONT-STYLE: italic; FONT-FAMILY: Courier New
}


BODY {

}
h6           { FONT-WEIGHT: 300; color: #078507; font-family: Arial; FONT-SIZE: 1em; margin-bottom: -2em }
p {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 1em;
	color: 555555;
}
